<table class="table">
    <tr><td colspan="2"><input type="text" #user placeholder="Search By User Name" />  
      <button (click)="searchUser(user.value)">Search</button> </td>
    <td colspan="3">
        From:<input type="date" #startDate placeholder="30/09/2019" />  
        To:<input type="date" #endDate placeholder="30/09/2019" />  
        <button (click)="searchDate(startDate.value,endDate.value)">Search</button> 
    </td>
    </tr>
</table>

<table class="table">
    <thead>
      <tr>
        <th>User Name</th>
        <th>First Number</th>
        <th>Second Number</th>
        <th>Date Of Calculation</th>
        <th>Sum</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let calculation of calculations">
        <td> {{ calculation.userName }}</td>
        <td> {{ calculation.firstNumber }}</td>
        <td> {{ calculation.secondNumber }}</td>
        <td> {{ calculation.dateOfCalculation | date: 'dd/MM/yyyy' }}</td>
        <td> {{ calculation.total }}</td>
      </tr>

      <tr *ngIf="calculations.length==0">
        <td colspan="4">No Data Found</td>
      </tr>
      
    </tbody>
  </table>